.walletInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e9ecef;
  border-bottom: none;

  p {
    margin: 0;
    padding: 0;
  }
}
